@charset "UTF-8";
body header {

	background-image: url("tomb.jpg");
	height:200px;
	background-repeat: no-repeat;
    background-position: center top;
}

body {
	font-family: 'Courier New', Courier, monospace;
}

body header h1, body header h2{
    padding-left: 150px;
	color:black;
}

main {
	padding-left: 200px;
}

footer {
	padding-top: 50px;
	padding-left: 200px;
}